<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.qiudb.mapper.UserCourseMapper">
    <!--通过用户id查询用户课程-->
    <select id="selectCourseByUserId" parameterType="Integer" resultType="UserCourse">
        select * from user_course where user_id=#{userId} and !delete_state
    </select>

    <!--添加用户课程-->
    <insert id="insertUserCourse" parameterType="UserCourse">
        insert into user_course (user_id, course_id, delete_state)
        values (#{userId},#{courseId},#{deleteState});
    </insert>

    <!--删除用户课程-->
    <update id="updateUserCourse" parameterType="UserCourse">
        update user_course
            <set>
                <if test="deleteState != null">delete_state = #{deleteState},</if>
            </set>
        where user_id=#{userId} and course_id=#{courseId};
    </update>

    <!--查询总数-->
    <select id="queryCount" parameterType="Integer" resultType="Integer">
        select count(*) from user_course where user_id=#{userId} and !delete_state;
    </select>

    <!--判断课程是否存在-->
    <select id="selectCourseExist" parameterType="Integer" resultType="Boolean">
        select count(*) from user_course where user_id=#{userId} and course_id=#{courseId} and delete_state=false
    </select>

</mapper>
